<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashish.customer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ficon"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Cart" />
        <activity android:name=".logincustomer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecycleView" />
        <activity android:name=".registration" />
        <activity android:name=".forgetpass"></activity>
    </application>

</manifest>